    *{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.6)) ,url("../assets/welcome.jpg");
    height: 100vh;
   -webkit-background-size:cover;
   background-size: cover;
   background-position: center center;
   position: relative  ;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 90px;
    float: left;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(243, 239, 239);

} 
.container{
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 120px;
    left: 25%;
    box-shadow: 10px  10px 20px #f1eeee;
    opacity: 0.4;
    border: none;
    border-radius: 10px;

}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    position: absolute;
    bottom: 250px;
}
.welcome-text a{
    box-shadow: 5px 5px 5px rgb(75, 68, 68);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    color:#fff; 
    position: absolute;
    bottom: 200px;
    left: 170px;

}
.welcome-text a:hover{
    background: #37354e;
    color: #f1e6e6;
}
